<li class="chat-message{{#if isOutgoing}} chat-message--my{{/if}}">
  <p class="chat-message__text">{{text}}</p>
  <span class="chat-message__date">{{messageDate}}</span>
  {{#if check_sent}}
    <img src="../../static/icons/message/sent.svg" alt="Статус" class="chat-message__status">
  {{/if}}
  {{#if check_read}}
    <img src="../../static/icons/message/read.svg" alt="Статус" class="chat-message__status">
  {{/if}}
</li>