@import "./components/chatListItem/chatListItem";
@import "./components/chatMessage/chatMessage";
@import "../../components/avatar/avatar";
@import "../../components/formError/formError";
@import "./components/chatForm/chatForm";
@import "./components/chatFormButton/chatFormButton";
@import "./components/chatFormInput/chatFormInput";

.chat {
  display: flex;
  height: 100vh;

  &__list-block {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $color-darkgrey;
  }

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    padding: 1.4vh 0.8vw;
    border-bottom: 1px solid $color-darkgrey;

    &-button {
      width: 2vw;
      background-size: cover;
      background-color: $color-white;

      &--add {
        height: 4.5vh;
        background-image: url("../../static/icons/chat_list_top/add.svg");
      }

      &--profile {
        height: 3.5vh;
        background-image: url("../../static/icons/chat_list_top/profile.svg");
      }
    }

    &-icon {
      width: 100%;
      height: 100%;
    }

    &-input {
      width: 26vw;
      height: 100%;
      padding: 0 1vw;
      background-color: $color-lightgrey;
      border-radius: 3px;

      &::placeholder {
        color: $color-darkgrey;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__dialog {
    width: 66.6%;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 8%;
      padding: 0 0.8vw;
      border-bottom: 1px solid $color-darkgrey;

      &-name {
        font-weight: bold;
      }

      &-button {
        width: 2.3vw;
        height: 5vh;
        background-size: cover;
        background-position-x: center;
        background-color: transparent;

        &--add-user {
          background-image: url("../../static/icons/chat/add_user.svg");
        }

        &--remove-user {
          background-image: url("../../static/icons/chat/remove_user.svg");
        }
      }
    }
  }
}

.chat-list {
  display: flex;
  flex-direction: column;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  height: 82%;
  padding: 1.4vh 0.8vw;
  overflow-y: scroll;
  background-image: url("../../static/img/chat/chat-cover.jpg");
  background-size: cover;
  background-color: aquamarine;

  &__chat-not-chosen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-text {
      padding: 1vh 1vw;
      background: rgb(70 111 109 / 47%);
      border-radius: 15px;
      color: $color-white;
      font-weight: bold;
    }
  }
}
