$color-blue: #008bfe;
$color-green: #38be38;
$color-red: #e52519;
$color-white: #fff;
$color-black: #000;
$color-lightgrey: #e5e5e5;
$color-grey: #c0c0c0;
$color-darkgrey: #9e9e9e;

$fs-text: 2vh;
$fs-subtext: 1.9vh;
$fs-buttons: 2.2vh;
$fs-headers: 2.5vh;
$fs-error-name: 6.7vh;
$fs-error-descr: 3.3vh;
