$color-blue: #008BFE;
$color-green: #38BE38;
$color-red: #E52519;
$color-white: #FFFFFF;
$color-black: #000000;
$color-lightgrey: #E5E5E5;
$color-grey: #C0C0C0;
$color-darkgrey: #9E9E9E;

$fs-text: 15px;
$fs-subtext: 14px;
$fs-buttons: 16px;
$fs-headers: 18px;
$fs-error-header: 48px;
$fs-error-descr: 24px;