.form {
  width: 30%;

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__inputs-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 6vh;
  }

  &__buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
