---
title: Мессенджер
---

{{!< base}}

<div class="chat">
  <div class="chat__list-block">
    <nav class="chat__search">
      <button class="chat__search-link">
        <img class="chat__search-icon" src="../../static/icons/chat_list_top/hide.svg">
      </button>
      <button>
        <a href="./profile.hbs" alt="Профиль"  class="chat__search-link">
          <img class="chat__search-icon" src="../../static/icons/chat_list_top/profile.svg">
        </a>
      </button>
      <input type="text" placeholder="Поиск" class="chat__search-input">
    </nav>
    {{> modules/chatList/chatList}}
  </div>
  <div class="chat__dialog">
    <nav class="chat__dialog-header">
      <span class="chat__dialog-header-name">Наталья</span>
      <button class="chat__dialog-header-button">
        <img src="../../static/icons/chat/chat_menu.svg" alt="Меню">
      </button>
    </nav>
    {{> modules/chatMessages/chatMessages}}
    <div class="chat__form">
      <input type="text" class="chat__form-input" placeholder="Написать сообщение...">
      <button class="chat__form-button">
        <img src="../../static/icons/chat/send_massage-disabled.svg" alt="Отправить">
      </button>
    </div>
  </div>
</div>