@import '../../styles/variables';

.form-button {
  width: 70%;
  height: 5vh;
  margin-bottom: 3vh;
  background-color: $color-blue;
  font-size: $fs-buttons;
  font-weight: bold;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  &__link {
    color: $color-white;
    text-decoration: none;
  }
}