@import "../../../../styles/variables";

.chat-form {
  display: flex;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  padding: 1.4vh 0.8vw;

  &__field {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    margin-right: 1vw;
  }
}
