.chat-messages {
  display: flex;
  flex-direction: column;
  height: 85%;
  padding: 1.4vh 0.8vw;
  background-image: url(../../static/img/chat/chat-cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: aquamarine;
}
