@import '../../styles/variables';

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;

  &__label {
    margin-bottom: 0.7vh;
  }

  &__input {
    height: 3.6vh;
    border: 1px solid $color-darkgrey;
  }
}